.nufriends {
  height: 105px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
}
.robotHeaderIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.nufriendsParent,
.robotHeaderWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.robotHeaderWrapper {
  height: 95.1px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  margin-left: -7.3px;
  flex-grow: 1;
}
.nufriendsParent {
  max-width: 359.2px;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
}
.handEmojiIcon {
  height: 55px;
  width: 66px;
  position: absolute;
  margin: 0 !important;
  bottom: -1.8px;
  left: 91.1px;
}
.frameChild,
.vectorIcon {
  position: relative;
  flex-shrink: 0;
}
.frameChild {
  height: 51.4px;
  width: 61px;
}
.vectorIcon {
  align-self: stretch;
  height: 46px;
  max-width: 100%;
  overflow: hidden;
}
.mailEmoji,
.mailEmojiWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mailEmoji {
  align-self: stretch;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-grow: 1;
}
.mailEmojiWrapper {
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-7);
  flex-grow: 1;
}
.frameGroup {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  flex-grow: 1;
}
.frameWrapper,
.handEmojiParent {
  display: flex;
  align-items: flex-start;
}
.handEmojiParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.frameWrapper {
  max-width: 249.5px;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xl-8);
  box-sizing: border-box;
}
.frameParent {
  max-width: 1246.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  width: 100%;
  text-align: center;
  font-size: var(--font-size-35xl);
  color: var(--color-cornflowerblue-100);
  font-family: var(--font-suez-one);
}
